.rectangle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 550px;
    background-color: rgb(249, 248, 247); 
    margin-top: 15%;
    margin-left: 180px;
}

.ladies{
opacity: 0.5;
}

.h1{
    margin: 30px;
}
/* .GO {
    color: white;
    background-color: red;
    border-radius: 10px;
} */

.newpara{
    position: relative; bottom: 310px; left: 220px;
}

.newpara1{
    position: relative; bottom: 200px; left: 220px;

}

.newpara2{
    position: relative; bottom: 280px; left: 220px;
}
